---
interface Props {
	name: string;
	description: string;
	website?: string;
 twitter?: string;
	github?:string
	tags?:string[]
	status?:string
}

const {name,description,website,github, twitter,tags, status  } = Astro.props;
---

<div class="flex flex-col gap-y-1">
	<h3 class="font-medium">{name}
{status &&
<sup class="text-xs font-normal text-gray-400">({status})</sup>

}

	</h3>
	
	<p class="text-gray-001 text-sm">{description}</p>

	<!-- <div class="flex items-center gap-2 text-xs flex-wrap">
		{tags && tags.map((tag)=>(
			<p class="bg-gray-001/10 px-2 py-1">{tag}</p>
		))}
	</div> -->

	<div class="flex items-center gap-x-3 text-sm">
			{website&&
			<a href={website} target="_blank" class="bg-gray-001/10 px-2 py-1">
				Website
				<i class="fa-solid fa-up-right-from-square text-sm"></i>
			</a>
			}
			
			{github &&
			<a href={github} target="_blank" class="bg-gray-001/10 px-2 py-1">
				GitHub
				<i class="fa-brands fa-github"></i>
			</a>
			}

{twitter &&
			<a href={twitter} target="_blank" class="bg-gray-001/10 px-2 py-1">
				Twitter
				<i class="fa-brands fa-twitter"></i>
			</a>
			}
	</div>
</div>
